<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
}
</style>
</head>
<body>
<table width="800" align="center" cellpadding="1" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;font-size:11px; border:solid 10px #CCCCCC">
  <tr>
    <td><table width="790" border="0" align="center" cellpadding="10" cellspacing="0">
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="20" align="center" valign="top" style="font-size:14px; text-transform:uppercase"><strong>OM PRAKASH MITTALL PROMOTORS &amp; BUILDERS PVT LTD.</strong></td>
                </tr>
              <tr>
                <td height="20" align="center" valign="middle" style="font-size:12px;">D-72, Ashok Vihar, Phase 2, Op Shri Ram Mandir, Near Wazirpur, Delhi , 110084</td>
                </tr>
              <tr>
                <td height="20" align="center" valign="middle" style="font-size:12px;">Phone No : +919876543210 | Email Id : ac@omprakash@com</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="30" align="center" valign="middle" style="font-size:14px; border-top:2px solid #CCCCCC;">PRODUCT NAME</td>
          </tr>
          <tr>
            <td height="20" align="center" valign="top" style="font-size:12px;"><table width="100%" cellspacing="0" border="1" bordercolor="#CCCCCC" cellpadding="4" style="border:2px solid #CCCCCC">
              <tr>
                <td width="33%" height="16" align="left" valign="middle">GST RATE :</td>
                <td width="33%" height="16" align="left" valign="middle">HSN CODE :</td>
                <td width="33%" height="16" align="left" valign="middle">UOM : </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="20"><table width="100%" cellspacing="0" border="1" bordercolor="#CCCCCC" cellpadding="4" style="border:2px solid #CCCCCC">
              <tr>
                <td height="16" align="center" valign="middle">FROM : <strong>20/JAN/2018</strong> TO <strong>22/JAN/2018</strong></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#ccc"><table width="100%" cellspacing="0" border="1" bordercolor="#CCCCCC" cellpadding="4" style="border:2px solid #CCCCCC">
              <tr>
                <td height="16" colspan="7" align="right" valign="middle" bgcolor="#FFFFFF">OPENING BALANCE</td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong>50,000.00</strong></td>
              </tr>
              <tr>
                <td width="6%" height="16" align="center" valign="middle" bgcolor="#FFFFFF">S.NO.</td>
                <td width="12%" align="center" valign="middle" bgcolor="#FFFFFF">DATE</td>
                <td width="8%" align="center" valign="middle" bgcolor="#FFFFFF">REF. NO.</td>
                <td width="20%" height="16" align="center" valign="middle" bgcolor="#FFFFFF">VOUCHER TYPE</td>
                <td width="12%" align="center" valign="middle" bgcolor="#FFFFFF">INWARDS</td>
                <td width="12%" align="center" valign="middle" bgcolor="#FFFFFF">OUTWARDS</td>
                <td width="15%" align="center" valign="middle" bgcolor="#FFFFFF">CLOSING (<i class="fa fa-inr"></i>)</td>
                <td width="15%" align="center" valign="middle" bgcolor="#FFFFFF">AMOUNT (<i class="fa fa-inr"></i>)</td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>1</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>2</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>3</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>4</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>5</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>6</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>7</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>8</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" align="center" valign="middle" bgcolor="#FFFFFF"><strong>9</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>20/Jan/2018</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td height="16" align="left" valign="middle" bgcolor="#FFFFFF"><strong>Article of Brases</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF"><strong style="float:left"><i class="fa fa-inr"></i></strong> <strong>50,000.00</strong></td>
                </tr>
              <tr>
                <td height="16" colspan="4" align="right" valign="middle" bgcolor="#FFFFFF"><strong>TOTAL</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF"><strong>001</strong></td>
                <td align="right" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
                <td align="right" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%" height="30" align="left" valign="top">&nbsp;</td>
                <td width="50%" align="right" valign="top">For <strong>No1 Indian Vape Shop</strong></td>
                </tr>
              <tr align="left" valign="middle">
                <td height="20" valign="bottom">&nbsp;</td>
                <td width="45%" align="right" valign="bottom">Auth. Signatory</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="20" align="center" valign="bottom" style="font-size:10px; letter-spacing:2px; border-top:1px solid #CCCCCC"><strong>PRINTED THROUGH WWW.CLICKPEBILL.COM</strong></td>
          </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>